name: Análise branch main SonarCloud

on:
  push:
    branches: [ "main" ]

jobs:
  sonar-analysis:
    name: Análise de Qualidade SonarCloud
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=joaosena19_fiap-12soat-projeto-fase-4-infra
            -Dsonar.organization=joaosena19
            -Dsonar.host.url=https://sonarcloud.io
